* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map {
  height: 100%;
  width: 100%;
  flex-grow: 2;
}

nav {
  background-color: orange;
}

#view {
  display: flex;

}

#menu {
  flex-grow: 1;
  background-color: yellow;
}
